section{
    display: -webkit-flex;
    display: flex;
}

.profile_pics{
    border-radius: 50%;
    width: 200px;
    align-items: center;

}

.sidebar{
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightblue;
    overflow-x: hidden;
    padding-top: 20px;
}

.main_content{
    margin-left: 210px;
    font-size: 28px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
  }
