#info
h1 .name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    line-height: 1.25;
    margin-bottom: 1.2rem;
}
h3 .description{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}