@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:wght@200&family=Roboto:wght@100&display=swap');
        

h1.name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:5vw;
    color: white;
    line-height: 1.25;
    margin-bottom: 1.2rem;
    text-shadow: 2px 2px 4px black;
}
h3.description{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.align_left{
    float: left;
    line-height: 0.5;
}
.align_right{
    float: right;
    padding-right: 10px;
    line-height: 0.5;
}

.card_title{
    font-size: 24px;
}
.card_description{
    font-size: 16px;
    text-align: left;
}

.section_title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.volunteer_title{
    color: darkgoldenrod;
    font-size: 24px;
    text-align: left;
    text-decoration: underline;
    text-decoration-color: darkgoldenrod;
    text-decoration-style: solid;
}

.welcome_message{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;

}

a.link {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 35%,
      #e05454
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a.link:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a.link:hover {
   background-position: 0;
  }
  
  a.link:hover::before {
    width:100%;
  }

  #bgvideo {
    position:fixed;
    right:0;
    bottom:0;
    min-width:100%; 
    min-height:100%;
    z-index:-1;
  }