header{
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    text-align: center;
}

body{
    height: auto;
    width: 100%;
    background: #161415 url(../pics/background.jpg) no-repeat center;
    background-size:cover !important;
    overflow: hidden;
    text-align: center;
}

.clock{
    font-family: 'Orbitron', sans-serif;
    font-size: 72px;
    color: white;
    text-align: center;
    overflow: hidden;
    line-height: 1.25;
    margin-bottom: 1.2rem;
    text-shadow: 2px 2px 4px black;
}

.clock #colon{
    animation: blinker 1s linear infinite;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@keyframes blinker {
    50% { opacity: 0; }
}

.btn_learnMoreAboutMe{
    border: none;
    background-color: rgba(128,128,128,0.5);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: cursive;
    margin: 4px 2px;
    cursor: pointer;
}
.btn_learnMoreAboutMe:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color:white;
}

header ul.social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
 }
 header ul.social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
 }
 header ul.social li a { color: #fff; }
 header ul.social li a:hover { color: #11ABB0; }