ul.insta_post{
    text-align: justify;
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
}

ul.insta_post:after{
    content: "";
    width: 100%;
    display: inline-block;
}

ul.insta_post li{
    align-content: center;
    display:inline-block;
    list-style: none;
}
