.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    width: 300px;
    height: 350px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.card.is-flipped{
    transform: translateX(-100%) rotateY(-180deg);
}

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
}
  
.card_face--front {
    background: white;
}
  
.card_face--back {
    transform: rotateY(180deg);
}

.container {
    padding: 2px 0px;
    width: 300px;
    height: 350px;
}

.container img{
    width: 300px;
    height: 315px;
    object-fit: cover;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.cards_container{
    text-align: justify;
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
}

ul.cards_container:after{
    content: "";
    width: 100%;
    display: inline-block;
}

ul.cards_container li{
    align-content: center;
    display:inline-block;
    list-style: none;
}

